{% extends "private_base.html" %}

{% load staticfiles %}

{% block content %}
<section id="course-view" class="" name="course-view">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#r-view" aria-controls="r-view" role="tab" data-toggle="tab">Requirments View</a>
                        </li>
                        <li role="presentation">
                            <a href="#t-view" aria-controls="t-view" role="tab" data-toggle="tab">Timeline View</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="r-view">Requirement View</div>
                        <div role="tabpanel" class="tab-pane" id="t-view">Timeline View</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="course-search" class="section-top-margin" name="course-search">
    <div class="row">
        <div class="col-sm-3 search-column">
            <h4> Courses (<span id="total_courses">250</span>)</h4>

            <div class="search-row">
                <input type="text" id="searchbox" placeholder="Search...">
                <span class="glyphicon glyphicon-search search-icon"></span>
            </div>

            <div class="term filter-switch">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="options" id="fall" autocomplete="off" checked> Fall
                    </label>
                    <label class="btn btn-success">
                        <input type="radio" name="options" id="winter" autocomplete="off"> Winter
                    </label>

                </div>
            </div>

            <div class="kernel filter-switch">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success active">
                        <input type="radio" name="options" id="k" autocomplete="off" checked> Kernel
                    </label>
                    <label class="btn btn-success">
                        <input type="radio" name="options" id="nk" autocomplete="off"> Non-Kernel
                    </label>

                </div>
            </div>

            <div class="criteria" id="area_criteria">
                <h4>Category</h4>

                <div class="btn-group-vertical category-btn" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="checkbox" name="options" class="btn" id="option0" autocomplete="off" checked> ALL

                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Photonics & Semiconductor Physics">
                        <input type="checkbox" name="options" id="option1" autocomplete="off" value="1"> Area 1
                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Electromagnetics & Energy Systems">
                        <input type="checkbox" name="options" id="option2" autocomplete="off"> Area 2
                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Analog & Digital Electronics">
                        <input type="checkbox" name="options" id="option3" autocomplete="off"> Area 3
                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Control, Communications & Signal Processing">
                        <input type="checkbox" name="options" id="option4" autocomplete="off"> Area 4
                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Computer Hardware & Computer Networks">
                        <input type="checkbox" name="options" id="option5" autocomplete="off"> Area 5
                    </label>
                    <label class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right"
                           data-content="Software">
                        <input type="checkbox" name="options" id="option6" autocomplete="off"> Area 6
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" name="options" id="option8" autocomplete="off"> Math/Science
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" name="options" id="option7" autocomplete="off"> Mandatory
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" name="options" id="option9" autocomplete="off"> HSS
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" name="options" id="option10" autocomplete="off"> CS
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" name="options" id="option11" autocomplete="off"> FREE ELECTIVE
                    </label>
                </div>
            </div>
        </div>

        <div class="courses-content col-sm-9" id="profile-courses">
             <script id="course-template" type="text/html">
                <div class="col-sm-4 course-box">
                    <div class="course-details">
                        <h4><%= name %></h4>
                        <h5><%= area %></h5>
                    </div>
                </div>
            </script>
        </div>

    </div>
</section>

<!-- ========== COURSE SECTION ========== -->
<section id="requirements" class="jumbotron requirements-section" name="requirements">


    <a href="{% url 'profiles:create_term' profile_id %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Create a
        new semester</a>
    {% if list_of_term %}
    <ul>
        {% for term in list_of_term %}
        <li>
            {% if term.courses.all %}

            <ul>
                {% for course in term.courses.all %}
                <li>
                    <a href="/courses/{{ course.id }}/">{{ course_code }}</a>
                    <input type="radio" name="course_choice" id="course_choice{{ forloop.counter }}"
                           value="{{ course.id }}"/>
                    <a href="/courses/{{ course.id }}/">{{ course.course_code }} </a>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have not signed up for any courses yet.</p>
            {% endif %}


        <li>
            <a class="" href="{% url 'courses:add_course' profile_id term.id %}">Add courses</a>
        </li>
        <li>
            <a class="" href="{% url 'courses:remove_course' profile_id term.id %}">Remove course</a>
        </li>
        <li>
            <a class="" href="{% url 'profiles:profiles' %}">Return to profiles list</a>
        </li>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have not create a semester</p>
    {% endif %}


    </div>

</section>

<section id="stat" class="stat-section ">
    <div class="container">
        <h2 class=""> CEAB Requirements </h2>

        <div class="row radial-top">
            <div id="AU" class=" col-md-3 col-sm-6 relative-pos">
                <button tabindex="0"
                        class="btn btn-default ceab-detail"
                        id="popover"
                        data-placement="top"
                        type="button"
                        data-toggle="popover" data-container="body" title="Title" data-content="Content">Click to View
                    Details
                </button>
            </div>
            <div id="MAT" class=" col-md-3 col-sm-6 relative-pos"></div>
            <div id="NS" class=" col-md-3 col-sm-6 relative-pos"></div>
            <div id="MNC" class="col-md-3 col-sm-6 relative-pos"></div>
        </div>
        <div class="row radial-bottom">
            <div id="ES" class="col-md-3 col-sm-6 relative-pos"></div>
            <div id="ED" class="col-md-3 col-sm-6 relative-pos"></div>
            <div id="EEC" class="col-md-3 col-sm-6 relative-pos"></div>
            <div id="CS" class="col-md-3 col-sm-6 relative-pos"></div>
        </div>

    </div>
</section>

<script type="text/javascript" src="{% static  'js/vendor/filter.min.js' %}"></script>

<script type="text/javascript">
      var courses = [
            {
                "name": "Course 1",
                "area": ["1"]
            },
            {
                "name": "Course 2",
                "area": ["2"]
            },
            {
                "name": "Course 3",
                "area": ["3"]
            },
            {
                "name": "Course 4",
                "area": ["4"]
            }
        ];
</script>

<script type="text/javascript">

    $(document).ready(function(){

        //NOTE: To append in different container
        var appendToContainer = function(htmlele, record){
            console.log(record)
        };

        var FJS = FilterJS(courses, '#profile-courses', {
            template: '#course-template',
            search: {ele: '#searchbox'},

            callbacks: {
                afterFilter: function(result){
                    $('#total_courses').text(result.length);
                }
            }
            //appendToContainer: appendToContainer
        });

        FJS.addCriteria({field: 'area', ele: '#area_criteria input:checkbox'});


        window.FJS = FJS;

  });

</script>


<script type="text/javascript">
        $(document).ready(function() {
             $('[data-toggle="tooltip"]').tooltip();
             $('[data-toggle="popover"]').popover({ trigger: "hover" });
        });

        //http://www.bootstrap-switch.org/

</script>

{% endblock %}
