h1{
    font-size:18px;
    margin-bottom:20px;
}

#courses{
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: left;
}

#courses p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    
    transition: 0.3s;
}

#courses p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#courses p:hover{
    background-color:#d8f2f1;
}

#courses p.active{
    color:#fff;
    background-color:#41c7c2;
}

#courses p.active b{
    color: #fff;
}

#total{
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}