    #test .arc2 {
        stroke-weight:0.1;
        fill: #3660b0;
    }

    #outer {
        background:#FFFFFF;
        border-radius: 5px;
        color: #000;
    }

    #div1, #div2, #div3, #div4 {
        width: 25%;
        height: 200px;
        box-sizing: border-box;
        float: left;
    }

    .fail .arc {
        stroke-weight: 0.1;
        fill: #f0a417;
    }

    .fail .arc2 {
        stroke-weight: 0.1;
        fill: #b00d08;
    }

    .success .arc {
        stroke-weight: 0.1;
        fill: #57DB54;
    }

    .success .arc2 {
        stroke-weight: 0.1;
        fill: #1B6C1A;
    }


    .radial {
        border-radius: 3px;
        background: #FFFFFF;
        color: #000;
    }


    .radial-top {
        margin-bottom: 50px;
    }

    .radial-bottom {

    }

    .ceab-detail{
        position: absolute !important;
        bottom: 0px !important;
        text-align: center;
        width: 70%;
    }