
.tab-content {
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    padding: 15px;
}

#course-search {
    border: 1px lightgray solid;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

#course-search .search-column {
    border-right: 1px lightgray solid;
}

.category-btn {
    width: 100%;
    padding-right: 20px;
}

.criteria {
    margin-top: 30px;
}

.criteria h4 {
    margin-bottom: 10px;
}

.filter-switch {
    margin-top: 15px;
}

.search-row {
    padding-right: 20px;
}

#searchbox{
  line-height: 20px;
  padding-right: 30px;
  width: 100%;
  font-size: 15px;
  height: 35px;
  padding-left: 10px;
}

.search-icon{
  position: relative;
  margin-top: -25px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  float: right;
}

.course-box {
    text-align: center;
    padding-left: 15px;
    margin-bottom: 20px;
    display: block;
}

.course-details {
    background-color: whitesmoke;
    padding: 10px;
}