body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


.user-home-section {

}

.stat-section {
    margin-top: 75px;
    margin-bottom: 50px;

}

.lower-case {
    text-transform: lowercase;
}

.square, .btn {

    border-radius: 0px!important;
}

/* -- color classes -- */

.darkslatebluebg {
    background-color: darkslateblue;
}

.darkslateblue {
    color: darkslateblue;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
    z-index: 10;
    background-color: #fff;
    margin-top: 20px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
    width:100%;
    min-height:200px;
    border: 0px!important;
    padding: 0px;
    border-radius: 0;
    border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: darkorange;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: darkred;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid darkslateblue;
}

/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

div.user-menu-content h3 {
    margin-bottom: 20px;
}

div.user-menu-content button {
    margin-top: 15px;
    float: right;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
    max-height: 245px;
    min-height: 245px;
    overflow-y: scroll;
}

ul.user-menu-list h4{
    margin-bottom: 10px;
    font-size: 1em;
}

ul.user-menu-list>li {
    background: #f5f5f5;
    padding: 8px;
}

ul.user-menu-list>li>a:hover{
    cursor: pointer;
}

ul.user-menu-list>li>a{
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.5px;
}


ul.user-menu-list>li:nth-child(odd) {
    background: white;
}

div.user-menu div.user-menu-content:not(.active){
    display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-details h4{
    margin-bottom: 5px;
    font-weight: lighter;
}

.user-details h5{
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 15px;
    font-weight: lighter;
}


.user-image {
    max-height:200px;
    overflow:hidden;
}

.overview h3 {
    font-weight: 200;
    margin-top: 15px;
    margin: 10px 0 0 0;
    font-size: 15px;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0px;
}


/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}
