{% extends "private_base.html" %}

{% block content %}

    <section id="requirements" class="jumbotron requirements-section" name="requirements">
            <div class="container">

<h1>Pick a course to add</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} 

<form action="{% url 'courses:add_course_action' profile_id term_id%}" method="post">
{% csrf_token %}
{% for course in courses_not_currently_taken %}
    <input type="radio" name="course_choice" id="course_choice{{ forloop.counter }}" value="{{ course.id }}" />
    <label for="course_choice{{ forloop.counter }}">{{ course.course_code }}</label>
    <input type="number" name="term_choice" id="term_choice{{ forloop.counter }}" value= 0 /><br />
{% endfor %}
<input type="submit" value="Add Course (to current student)" />
</form>

            </div>
    </section>

{% endblock %}
