{% extends "private_base.html" %}

{% block content %}

    <section id="requirements" class="jumbotron requirements-section" name="requirements">
            <div class="container">


<h1>Pick a course to remove</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} 

<form action="{% url 'courses:remove_course_action' profile_id term_id %}" method="post">
{% csrf_token %}
{% for course in list_of_courses_taken %}
    <input type="radio" name="course_choice" id="course_choice{{ forloop.counter }}" value="{{ course.id }}" />
    <label for="course_choice{{ forloop.counter }}">{{ course.course_code }}</label><br />
{% endfor %}
<input type="submit" value="Remove Course (from current student)" />
</form>

            </div>
    </section>

{% endblock %}
