          {% for course in courses %}
          <tr>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_title }}</td>
            <td class="text-right"><button class="btn btn-primary btn-xs" name="man_id" value="{{ result.course_code }}">Add</button></td>
          </tr>
          {% endfor %}




<!-- {% if courses.count > 0 %}

{% for course in courses %}
	<li><a href="/courses/{{ course.id }}">{{course.course_title}}</a></li>
{% endfor %}

{% else %}

<li>None to show!</li>

{% endif %} -->