
{% extends "private_base.html" %}

{% block content %}

    <!-- Load c3.css -->
    <link href="/static/css/c3.min.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/c3.min.js"></script>

    <!-- ========== COURSE DEATIL SECTION ========== -->
    <section id="courses" class="jumbotron courses-section" name="courses">
            <div class="container">
                <h2 class="text-center"> Course Detail </h2>

                <h2>{{ course.course_code }}</h2>
                <h3>{{ course.course_title }}</h3>
                <h5>{{ course.course_description }}</h5>
                <h4>Prerequisites: {{ course.course_prerequisites }}</h4>
                <h4>Corequisites: {{ course.course_corequisites }}</h4>
                <h4>Exclusions: {{ course.course_exclusions }}</h4>
                <h4>Credit Weight: {{ course.course_credit_weight }}</h4>
                <h4>Credit Area: {{ course.course_area }}</h4>
                <h4>Credit CEAB AU: </h4>

                <div id="chart"></div>
                <script>
                    var chart = c3.generate({
                        data: {
                            columns: [
                                ['MATH', {{course.course_math}}],
                                ['NS', {{course.course_ns}}],
                                ['CS', {{course.course_cs}}],
                                ['ES', {{course.course_es}}],
                                ['ED', {{course.course_ed}}]

                            ],
                            type: 'pie'
                        },
                        pie: {
                            label: {
                                format: function (value, ratio, id) {
                                    return d3.format('')(value);
                                }
                            }
                        }
                    });

                </script>

            </div>
    </section>

{% endblock %}
