
{% extends "private_base.html" %}

{% block content %}

<!-- Load c3.css -->
<link href="/static/css/c3.min.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/c3.min.js"></script>

<div class="row">
  <div class="col-md-6">
    <form class="form-search" action ="" method = "GET">
        <div class="input-group">
            <input type="text" name="q" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="search_button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </form>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="" method="POST">
        <table class="table table-hover">

          {% for result in results %}
          <tr tabindex="0" data-toggle="popover" data-placement="right" data-container="body" data-trigger="hover" title="{{ result.code }} {{ result.title }}" data-content="
                                  {{ result.description }}

                                  <p></p><p><b>Prerequisites: {{ result.prerequisistes }}</b><p>

                                  <center><div id='chart{{result.code}}s'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{result.code}}s',
                                          data: {
                                              columns: [
                                                  ['MATH', {{result.au.math}}],
                                                  ['NS', {{result.au.ns}}],
                                                  ['CS', {{result.au.cs}}],
                                                  ['ES', {{result.au.es}}],
                                                  ['ED', {{result.au.ed}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  ">
            <td>{{ result.code }}</td>
            <td>{{ result.title }}</td>
            <td class="text-right"><button class="btn btn-primary btn-xs" name="man_id" value="{{ result.code }}">Add</button></td>
          </tr>
          {% endfor %}

        </table>
        </form>
    </div>
</div>

<script src="/static/js/course.js"></script>

<h3>Search AJAX</h3>
{% csrf_token %}
<input type="text" id="search" name="search"/>

<div class="row">
    <div class="col-md-6">
        <form action="" method="POST">
        <table class="table table-hover" id="search-results">
          
        </table>
        </form>
    </div>
</div>

<br>
<br>

<style type="text/css">
  .popover{
      max-width: none;
      width:575px; 
  }

</style>

<section id="courses" class="courses-section" name="courses">
    <h2 class=""> COURSE OFFERED</h2>
    <div class="jumbotron">

<!--         {% for i in "12345" %}
            {{ forloop.counter0 }}
        {% endfor %} -->

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 1</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '1' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="
                                  {{ course.4 }}

                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>

                                  <center><div id='chart{{course.1}}1'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}1',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  " ><b>{{course.1}}</b> {{course.3}}</a>


                              {% endif %}
                      {% endfor %}

                      
                  </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 2</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '2' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto left" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="
                                  {{ course.4 }}

                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>

                                  <center><div id='chart{{course.1}}2'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}2',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div> 
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 3</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '3' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{ course.4 }}

                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>

                                  <center><div id='chart{{course.1}}3'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}3',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 4</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '4' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto left" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{ course.4 }}

                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>
                                  <center><div id='chart{{course.1}}4'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}4',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 5</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '5' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{ course.4 }}
                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>
                                  <center><div id='chart{{course.1}}5'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}5',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 6</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '6' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto left" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{ course.4 }}
                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>
                                  <center><div id='chart{{course.1}}6'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}6',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Area 7</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '7' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{ course.4 }}
                                  <p></p><p><b>Prerequisites: {{ course.5 }}</b><p>
                                  <center><div id='chart{{course.1}}7'></div></center>

                                  <script>
                                      var chart = c3.generate({
                                          bindto: '#chart{{course.1}}7',
                                          data: {
                                              columns: [
                                                  ['MATH', {{course.9}}],
                                                  ['NS', {{course.10}}],
                                                  ['CS', {{course.11}}],
                                                  ['ES', {{course.12}}],
                                                  ['ED', {{course.13}}],
                                              ],
                                              type: 'pie'
                                          },
                                          pie: {
                                              label: {
                                                  format: function (value, ratio, id) {
                                                      return d3.format('')(value);
                                                  }
                                              }
                                          },
                                          size: {
                                            width: 200
                                          }
                                      });

                                  </script>

                                  "><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>  
            <!-- <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Other Courses</h3>
                  </div>
                  <div class="list-group">
                      {% for course in latest_course %}
                              {% if '0' in course.15 %}
                                  <a href="{% url 'courses:course_detail' course.0 %}" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-container="body" data-trigger="hover" title="{{course.1}} {{course.3}}" data-content="{{course.4}}"><b>{{course.1}}</b> {{course.3}}</a>
                              {% endif %}
                      {% endfor %}
                  </div>
                </div>
            </div>  -->
        </div>

    </div>
</section>


    <!-- ========== COURSE SECTION ========== -->
<!--     <section id="courses" class="courses-section" name="courses">
        <h2 class=""> COURSE OFFERED</h2>
        <div class="jumbotron">
                    {% for course in latest_course_list %}

                    {% if forloop.counter in top_div %}
                        <div class="row text-center top-space">
                    {% endif %}

                    <div class="col-md-3 col-sm-6 team">
                        <a href="{% url 'courses:course_detail' course.id %}"><img class="img-circle" src="http://dummyimage.com/150/5{{course.course_code}}/fff&text={{course.course_code}}" height="90" width="90"></a>
                        <p></p><h6>{{ course.course_title }}</h6>
                    </div>

                    {% if forloop.counter in bottom_div %}
                        </div>
                    {% endif %}

                    {% endfor %}
            </div>
    </section> -->

<script type="text/javascript">
  $(function() {
        $('[data-toggle="popover"]').popover({
        html: 'true',
    });
});

</script>

{% endblock %}
