{% extends "private_base.html" %}

{% block content %}


    <section id="user-home" class="user-home-section">
        <div class="container">
            <div class="row user-menu-container square">
                <div class="col-md-7 user-details">
                    <div class="row darkslatebluebg white">
                        <div class="col-md-6 no-pad">
                            <div class="user-pad">
                                <h3>Welcome back, {{user.first_name}}</h3>
                                <h4 class="white"><i class="fa fa-check-circle-o"></i> Student Number: </h4>
                                <h5>{{user.student.student_number}}</h5>
                                <h4 class="white"><i class="fa fa-check-circle-o"></i> Email: </h4>
                                <h5 class="lower-case">{{user.email}}</h5>
                                <h4 class="white"><i class="fa fa-check-circle-o"></i> Degree Post: </h4>
                                <h5>AEELEBASC</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2 no-pad">
                            <div class="user-image">
                                <img src="http://www.rovers.co.uk/images/common/bg_player_profile_default_big.png" class="img-responsive thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="row overview">
                        <div class="col-md-4 user-pad text-center">
                            <h3>Graduation Eligibility </h3>
                            <h4>OK</h4>
                        </div>
                        <div class="col-md-4 user-pad text-center">
                            <h3>Course Credits Earned</h3>
                            <h4>14/20</h4>
                        </div>
                        <div class="col-md-4 user-pad text-center">
                            <h3>CEAB Requirements</h3>
                            <h4>OK</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 user-menu-btns">
                    <div class="btn-group-vertical square" id="responsive">
                        <a href="#" class="btn btn-block btn-default active">
                            <i class="fa fa-bell-o fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-share-alt fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 user-menu user-pad">
                    <div class="user-menu-content active">
                        <h3>
                            Recent Announcements
                        </h3>
                        <ul class="user-menu-list">
                            <li>
                                <a>AU units have been changed for the following courses.</a>
                            </li>
                            <li>
                                <a>New courses available this year</a>
                            </li>
                            <li>
                                <a>Please complete your main profile by Feb 15th</a>
                            </li>
                            <li>
                                <a>Please complete your main profile by Feb 15th</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-labeled btn-success" href="#">
                            <span class="btn-label"><i class="fa fa-bell-o"></i></span>VIEW ALL ANNOUNCEMENTS</button>
                    </div>

                    <div class="user-menu-content">
                        <h2 class="text-center">
                            SHARING
                        </h2>

                        <h4>Tell your friends</h4>

                        <div class="share-links">
                            <button type="button" class="btn btn-lg btn-labeled btn-success" href="#" style="margin-bottom: 15px;">
                                <span class="btn-label"><i class="fa fa-share-alt"></i></span>A FINISHED PROFILE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stat" class="stat-section ">
        <div class="container">
            <h2 class=""> CEAB Requirements </h2>
            <div class="row radial-top">
                <div id="AU" class=" col-md-3 col-sm-6 relative-pos">
                    <button tabindex="0"
                            class="btn btn-default ceab-detail"
                            id="popover"
                            data-placement="top"
                            type="button"
                            data-toggle="popover" data-container="body" title="Title" data-content="Content">Click to View Details</button>

                </div>
                <div id="MAT" class=" col-md-3 col-sm-6 relative-pos"></div>
                <div id="NS" class=" col-md-3 col-sm-6 relative-pos"></div>
                <div id="MNC" class="col-md-3 col-sm-6 relative-pos"></div>
            </div>
            <div class="row radial-bottom">
                <div id="ES" class="col-md-3 col-sm-6 relative-pos"></div>
                <div id="ED" class="col-md-3 col-sm-6 relative-pos"></div>
                <div id="EEC" class="col-md-3 col-sm-6 relative-pos"></div>
                <div id="CS" class="col-md-3 col-sm-6 relative-pos"></div>
            </div>

        </div>
    </section>


    <section id="reg-info" class="section-top-margin">
        <div class="container">
            <h2 class=""> Registration Information </h2>
            <div class="row top-space">
                <div class="col-lg-10">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Session</th>
                                <th>Post</th>
                                <th>Academic Standing</th>
                                <th>Registration Status</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20109</td>
                                <td>AEESCBASE</td>
                                <td>Pass</td>
                                <td>REG</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>20109</td>
                                <td>AEESCBASE</td>
                                <td>Pass</td>
                                <td>REG</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>20109</td>
                                <td>AEESCBASE</td>
                                <td>Pass</td>
                                <td>REG</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>



    <section id="rosi-course" class="section-top-margin">
        <div class="container">
            <h2 class=""> ROSI Course List </h2>
            <div class="row top-space">
                <div class="col-lg-10">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Session</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20109</td>
                                <td>AEESCBASE</td>
                                <td>Pass</td>
                                <td>REG</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

    <script type="text/javascript" src="static/js/vendor/d3.min.js"></script>
    <script type="text/javascript" src="static/js/vendor/radialProgress.js"></script>

    <script type="text/javascript">
        var userCeabData = {{ceab | safe}};
        var ceabReq = {{ceabReq | safe}};

        var categories = ['AU', 'MAT', 'NS', 'MNC', 'ES', 'ED', 'EEC', 'CS'];

        categories.forEach(function(c) {
            var e = d3.select(document.getElementById(c));
            if (ceabReq[c] > userCeabData[c]) {
                e.attr("class","fail col-md-3 col-sm-6 relative-pos");
            } else {
                e.attr("class","success col-md-3 col-sm-6 relative-pos");
            }
        });

        start();

        function start() {

            var rp1 = radialProgress(document.getElementById('AU'))
                    .label("Total Accreditation Units")
                    .diameter(175)
                    .maxValue(ceabReq.AU)
                    .value(userCeabData.AU)
                    .render();

            var rp2 = radialProgress(document.getElementById('MAT'))
                    .label("Mathematics")
                    .diameter(175)
                    .maxValue(ceabReq.MAT)
                    .value(userCeabData.MAT)
                    .render();

            var rp3 = radialProgress(document.getElementById('NS'))
                    .label("Natural Science")
                    .diameter(175)
                    .minValue(100)
                    .maxValue(ceabReq.NS)
                    .value(userCeabData.NS)
                    .render();

            var rp4 = radialProgress(document.getElementById('MNC'))
                    .label("MAT and NS Combined")
                    .diameter(175)
                    .minValue(100)
                    .maxValue(ceabReq.MNC)
                    .value(userCeabData.MNC)
                    .render();

            var rp5 = radialProgress(document.getElementById('ES'))
                    .label("Engineering Science")
                    .diameter(175)
                    .maxValue(ceabReq.ES)
                    .value(userCeabData.ES)
                    .render();

            var rp6 = radialProgress(document.getElementById('ED'))
                    .label("Engineering Design")
                    .diameter(175)
                    .maxValue(ceabReq.ED)
                    .value(userCeabData.ED)
                    .render();

            var rp7 = radialProgress(document.getElementById('EEC'))
                    .label("ES and ED Combined")
                    .diameter(175)
                    .maxValue(ceabReq.EEC)
                    .value(userCeabData.EEC)
                    .render();

            var rp8 = radialProgress(document.getElementById('CS'))
                    .label("Complementary Studies")
                    .diameter(175)
                    .maxValue(ceabReq.CS)
                    .value(userCeabData.CS)
                    .render();

        }

    </script>

    <script type="text/javascript">
        $(document).ready(function() {
             $('[data-toggle="popover"]').popover();
        });
    </script>

{% endblock %}



