{% extends "public_base.html" %}

{% block content %}
        <!-- Add your site or application content here -->

        <!-- ========== NAVIGATION BAR ========== -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-circle"></i>  Magellan <span class="blue-text">II</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#register">Register</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#people">People</a>
                        </li>
                        <li>
                            <a class="btn login-button" href="{% url 'login' %}"><span id="loginLabel">LOG IN</span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


        <!-- ========== LANDING SECTION ========== -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1 class="brand-heading">Magellan <span class="blue-text">II</span></h1>
                            <p class="intro-text">A better course selection tool<br>Developed by ECE students, for ECE students</p>
                            <a href="#register" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- ========== REGISTER SECTION ========== -->
        <section id="register" class="content-section text-center">
            <div class="register-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2><span class="light">Register for</span> Magellan <span class="blue-text">II</span></h2>
                        <p> Create your own account now!</p>
                        <a href="" class="btn btn-default btn-lg">Register</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========== ABOUT SECTION ========== -->
        <section id="about" class="jumbotron">
            <div class="about-section">
                <div class="container">
                    <h2 class="text-center"> <span class="light">About</span> Magellan <span class="blue-text">II</span></h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 highlight">
                            <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Organized</h4></div>
                            <div class="h-body text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 highlight">
                            <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fast</h4></div>
                            <div class="h-body text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 highlight">
                            <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Intuitive</h4></div>
                            <div class="h-body text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 highlight">
                            <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Peer Support</h4></div>
                            <div class="h-body text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores</p>
                            </div>
                        </div>
                    </div> <!-- /row  -->
                    <div class="row top-space">
                        <div class="col-lg-10 col-lg-offset-1">
                            <p>MAGELLAN II is a software tool that has been developed in‐house to help you plan and verify both your Electrical & Computer Engineering (ECE) program and the Canadian Engineering Accreditation Board (CEAB) requirements.</p>
                            <br>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Highlights -->

        <!-- ========== SLOGAN SECTION ========== -->
        <section id="slogan" class="content-section text-center">
            <div class="slogan-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h3>MAGELLAN II WILL HELP YOU PLAN YOUR ACADEMIC CAREER PATH.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- ========== PEOPLE SECTION ========== -->
        <section id="people" class="jumbotron content-section" name="people">
            <div class="people-section">
                <div class="container">
                    <h2 class="text-center"> PEOPLE</h2>
                    <div class="row text-center">

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/jeff.jpg" height="90" width="90">
                            <h4>Jeff Li</h4>
                            <h5><i>Full-stack Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/mike.jpg" height="90" width="90">
                            <h4>Michael Naccarato</h4>
                            <h5><i>Project Manager</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6  team">
                            <img class="img-circle" src="/static/img/team/tyler.jpg" height="90" width="90">
                            <h4>Tyler Mason</h4>
                            <h5><i>Project Manager</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/anas.jpg" height="90" width="90">
                            <h4>Anas Faris</h4>
                            <h5><i>Front-end Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="row text-center top-space">
                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team01.jpg" height="90" width="90">
                            <h4>Viktor Riabtsev</h4>
                            <h5><i>Database Guru</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team02.jpg" height="90" width="90">
                            <h4>Megha Bettadpur</h4>
                            <h5><i>front-end Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6  team">
                            <img class="img-circle" src="/static/img/team/team03.jpg" height="90" width="90">
                            <h4>David McTavish </h4>
                            <h5><i>Database Guru</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team04.jpg" height="90" width="90">
                            <h4>Yunlong (Henry) Lin</h4>
                            <h5><i>Back-end Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="row text-center top-space">
                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team01.jpg" height="90" width="90">
                            <h4>Yiqiang (Nick) Zhang</h4>
                            <h5><i>Back-end Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team02.jpg" height="90" width="90">
                            <h4>Tingcheng Cui</h4>
                            <h5><i>Back-end Developer</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6  team">
                            <img class="img-circle" src="/static/img/team/team03.jpg" height="90" width="90">
                            <h4>Nitin Guleria </h4>
                            <h5><i>TA</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>

                        <div class="col-md-3 col-sm-6 team">
                            <img class="img-circle" src="/static/img/team/team04.jpg" height="90" width="90">
                            <h4>Mohamed Abdel-Razik</h4>
                            <h5><i>Professor</i></h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /container -->
        </section>


        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                    </div>

                </div>
                </div>
            </div>
        </div>

{% endblock %}