{% extends "public_base.html" %}

{% block content %}

<nav class=" navbar-custom  top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="{% url 'index' %}">
                <i class="fa fa-play-circle"></i> Magellan <span class="blue-text">II</span>
            </a>
        </div>
    </div>
</nav>

<section id="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Sorry, that's not a valid username or password
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well login-box">
                    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">{% csrf_token %}
                        <legend>Login</legend>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input value='' id="username" name="username" placeholder="" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" value='' placeholder="" type="password" class="form-control" />
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-danger btn-cancel-action" href="{% url 'index' %}">Cancel</a>
                            <input type="submit" class="btn btn-success btn-login-submit" value="Login" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}