<!DOCTYPE html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
<head lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magellan II</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/d3_radial_progress.css">
    <link rel="stylesheet" href="/static/css/custom_radial_progress.css">
    <link rel="stylesheet" href="/static/css/course.css" />
    <link rel="stylesheet" href="/static/css/edit_profile.css" />

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <i class="fa fa-play-circle"></i>  Magellan <span class="blue-text">II</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="{% url 'profiles:profiles'%}">Profiles</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'courses:courses'%}">Courses</a>
                    </li>
                    <!--<li>-->
                        <!--<a class="" href="{% url 'profiles:view_current_profile' 1%}">Enrolled Courses</a>-->
                    <!--</li>-->
                    <li>
                        <a class="" href="{% url 'profiles:requirements'%}">Requirements</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu account-menu">
                                <li><a href="{% url 'edit_user_info'%}">Edit Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container base-container">

    {% block content %}


    {% endblock %}

    </div> <!-- /container -->

                <!-- ========== FOOTER ========== -->
    <hr>
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 2015 ECE450. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.easing.min.js"></script>
    <script src="/static/js/home.js"></script>


</body>
</html>

