{% extends "private_base.html" %}

{% block content %}

<!-- ========== COURSE SECTION ========== -->
<section id="requirements" class="requirements-section" name="requirements">
    <div class="container">
        <h2 class=""> Profile </h2>

    </div>
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table class="table table-striped custab">
                <thead>
                <a href="{% url 'profiles:create_profile' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Create a new profile</a>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Last modified date</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>

                {% for profile in list_of_profiles %}
                <tr>
                    <!-- TODO: NOT SURE WHICH VALUE TO USE <td>{{ forloop.counter }}</td> -->
                    <td>{{ profile.id }}</td>
                    <td>{{ profile.profile_name }}</td>
                    <td>2015-01-01 13:00</td>
                    <td class="text-center">
                        <a href="{% url 'profiles:view_current_profile' profile.id %}" class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> View </a>
                        <a href="{% url 'profiles:delete_profile' profile.id %}" class="btn btn-danger btn-xs">  <span class="glyphicon glyphicon-remove"></span> Del </a>
                    </td>
                </tr>
                {% endfor %}
          

            </table>
        </div>
    </div>

</section>

{% endblock %}
