
{% extends "private_base.html" %}

{% block content %}

    <!-- ========== COURSE SECTION ========== -->
    <section id="requirements" class="requirements-section" name="requirements">
            <div class="container">
                <h2 class=""> Requirements </h2>

            </div>
    </section>

{% endblock %}
